.button {
  display: block;
  padding-top: 18px;
  width: 307px;
  height: 73px;
  border: none;

  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  background-color: transparent;
  background-image: url("../img/button.png");

  transform: translateX(-8px);

  cursor: pointer;

  &:hover {
    background-image: url("../img/button--active.png");
  }

  &:focus {
    outline: none;
    background-image: url("../img/button--active.png");
  }

  &:active {
    padding-top: 20px;

    background-image: url("../img/button--active.png");
  }
}

@media (min-width: $tablet-width) {
  .button {
    margin-left: 0;
  }
}
