.comments {
  padding-top: 18px;
  padding-bottom: 92px;

  overflow: visible;

  &__title {
    z-index: 1;

    padding-bottom: 39px;

    &::before {
      content: "отзывы";
    }
  }

  &__video {
    display: block;
    margin: 0 auto;
    margin-bottom: 75px;

    background-color: transparent;
    background-image: url("../img/comments__video-poster--mobile.jpg");

    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .comments {
    margin-bottom: 28px;

    background-image: url("../img/comments__background.jpg");
    background-repeat: no-repeat;
    background-position: center;

    &__video {
      width: 723px;
      height: 407px;
      margin-bottom: 70px;

      background-image: url("../img/comments__video-poster--tablet.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .comments {
    margin-bottom: 100px;
    padding-top: 50px;

    &__title {
      margin-bottom: 36px;
      padding-bottom: 60px;
    }

    &__video {
      width: 1142px;
      height: 642px;

      background-image: url("../img/comments__video-poster--desktop.jpg");
    }
  }
}
