.features-list {
  margin: 0 auto;
  padding: 0 2px;
  min-width: 290px;

  list-style: none;

  &__item {
    margin-bottom: 50px;

    line-height: 24px;
    text-align: center;

    background-repeat: no-repeat;
    background-position: 50% 0;

    &:nth-child(1) {
      padding-top: 253px;

      background-image: url("../img/description__img-1.jpg");
    }

    &:nth-child(2) {
      padding-top: 259px;

      background-image: url("../img/description__img-2.jpg");
    }

    &:nth-child(3) {
      padding-top: 342px;

      background-image: url("../img/description__img-3.jpg");
    }

    &:nth-child(4) {
      padding-top: 256px;

      background-image: url("../img/description__img-4.jpg");
    }
  }

  &__feature {
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 0;
    width: 290px;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__explanation {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .features-list {

    &__item {
      margin: 0;

      text-align: left;

      &:nth-child(1) {
        padding: 70px 0;
        padding-left: 312px;

        background-image: url("../img/description__img-1--tablet.png");
        background-position: left;

        .features-list__explanation {
          width: 312px;
        }
      }

      &:nth-child(2) {
        margin-left: auto;
        padding: 85px 0;
        width: 595px;

        background-image: url("../img/description__img-2--tablet.png");
        background-position: right;

        .features-list__feature {
          width: 270px;
        }

        .features-list__explanation {
          width: 270px;
        }
      }

      &:nth-child(3) {
        position: relative;
        top: -57px;

        margin-bottom: -100px;
        padding: 95px 0;
        padding-left: 310px;

        background-image: url("../img/description__img-3--tablet.png");
        background-position: -25px 35px;

        .features-list__explanation {
          width: 312px;
        }
      }

      &:nth-child(4) {
        margin-left: auto;
        padding-top: 285px;
        padding-left: 77px;
        width: 50%;

        background-image: url("../img/description__img-4--tablet.png");
        background-position: 25px 0;

        .features-list__explanation {
          width: 270px;
        }
      }
    }

    &__feature {
      margin-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .features-list {

    &__item {

      &:nth-child(1) {
        padding-top: 140px;
        padding-left: 395px;

        background-image: url("../img/description__img-1--desktop.png");
        background-position: left 30px;
      }

      &:nth-child(2) {
        margin-top: -20px;
        padding-top: 95px;
        padding-bottom: 130px;
        padding-left: 395px;
        width: 695px;

        background-image: url("../img/description__img-2--desktop.png");
        background-position: left -10px;
      }

      &:nth-child(3) {
        top: -109px;

        margin-bottom: -215px;
        padding-bottom: 140px;
        padding-left: 335px;

        background-image: url("../img/description__img-3--desktop.png");
        background-position: -35px 15px;
      }

      &:nth-child(4) {
        margin-left: auto;
        padding-top: 64px;
        padding-bottom: 140px;
        padding-left: 442px;
        width: 730px;

        background-image: url("../img/description__img-4--desktop.png");
        background-position: 25px 0;
      }
    }
  }
}
