.knowledge {
  text-align: center;

  &__title {
    padding-top: 10px;

    &::before {
      content: "ты узнаешь";
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    line-height: 24px;
  }

  &__item {
    position: relative;

    overflow: hidden;

    &::before {
      content: "";

      display: block;
      width: 120px;
      height: 100px;
      margin: 0 auto;

      background-image: url("../img/knowledge__numbers-sprite.png");
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }

  &__item--01::before {
    background-position-x: -15px;
  }

  &__item--02::before {
    background-position-x: -143px;
  }

  &__item--03::before {
    background-position-x: -286px;
  }

  &__item--04::before {
    background-position-x: -423px;
  }

  &__item--05::before {
    background-position-x: -563px;
  }

  &__name {
    margin-top: 26px;
    margin-bottom: 14px;

    font-size: 20px;
    letter-spacing: 1px;
  }

  &__description {
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .knowledge {

    &__title {
      margin-bottom: 20px;
      padding-top: 53px;
      padding-bottom: 52px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(11, 8.6%);
    }

    &__item {
      text-align: left;

      &::before {
        margin-left: 0;
      }

      &--01 {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
      }

      &--02 {
        grid-column: 7 / -1;
        grid-row: 1 / 2;
      }

      &--03 {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
      }

      &--04 {
        grid-column: 7 / -1;
        grid-row: 2 / 3;
      }

      &--05 {
        grid-column: 5 / 10;
        grid-row: 3 / 4;
      }
    }

    &__name {
      margin-top: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .knowledge {

    &__title {
      margin-top: 93px;
      margin-bottom: 53px;
    }

    &__list {
      grid-template-columns: repeat(3, 15%) 6% repeat(3, 15%);
      grid-template-rows: 110px 140px 110px 130px 160px;
    }

    &__item {
      padding-left: 207px;

      &--01 {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }

      &--02 {
        grid-column: 5 / -1;
        grid-row: 2 / 4;
      }

      &--03 {
        grid-column: 1 / 4;
        grid-row: 3 / 5;
      }

      &--04 {
        grid-column: 5 / -1;
        grid-row: 4 / 6;
      }

      &--05 {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        margin: 0;
        height: 150px;

        background-image: url("../img/knowledge__numbers-sprite--big.png");
        background-position-y: top;
      }
    }

    &__item--01::before {
      width: 160px;
      background-position-x: -5px;
    }

    &__item--02::before {
      width: 174px;
      background-position-x: -176px;
    }

    &__item--03::before {
      width: 179px;
      background-position-x: -360px;
    }

    &__item--04::before {
      width: 170px;
      background-position-x: -545px;
    }

    &__item--05::before {
      width: 170px;
      background-position-x: -722px;
    }

    &__name {
      margin-top: 10px;
    }
  }
}
