.logo {


  &__link {
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 248px;
    height: 90px;

    &__image {
      width: 248px;
      height: 90px;
    }
  }
}
