.page-content {

  &__experience {
    padding-top: 131px;
    padding-bottom: 111px;
  }

  &__learning {
    padding-bottom: 48px;
  }

  &__programm {
    padding-bottom: 58px;
  }

  &__instructor {
    padding-bottom: 28px;
  }

  &__comments {
    padding-top: 18px;
    padding-bottom: 81px;
  }

  &__support {
    padding-top: 83px;
    padding-bottom: 115px;
  }
}
