.page-footer {
  padding-top: 48px;
  padding-bottom: 54px;

  text-align: center;
  font-size: 14px;
  color: #3c313b;

  &__phone {
    margin-bottom: 51px;
  }

  &__number {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  &__privacy-policy-link {
    display: inline-block;
    padding-bottom: 4px;

    vertical-align: top;
    text-decoration: none;
    color: inherit;

    background-image: linear-gradient(to right, #3c313b, #3c313b 66%, transparent 66%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 6px 1px;

    &:hover,
    &:focus {
      outline: none;

      color: $bright-color;
      background-image: linear-gradient(to right, $bright-color, $bright-color 66%, transparent 66%);
    }

    &:hover::before {
      border-color: $bright-color;
    }
  }

  &__logo {
    position: relative;

    margin-top: 50px;
  }

  &__copyright {
    position: absolute;
    bottom: 0;

    font-weight: bold;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-right: 2.5%;
    padding-bottom: 50px;
    padding-left: 2.5%;

    &__phone {
      order: 3;
      margin: 0;
    }

    &__privacy-policy {
      order: 2;
    }

    &__logo {
      order: 1;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-right: 1.5%;
    padding-bottom: 21px;
    padding-left: 1.5%;
  }
}
