.programm {
  padding-bottom: 62px;

  background-image: url("../img/programm__background--mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    z-index: 1;

    margin: 0;
    padding-top: 35px;
    padding-bottom: 44px;

    &::before {
      content: "программа";

      z-index: -1;

      color: #ffffff;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    counter-reset: programm-items-counter 0;
  }

  &__list--right {
    counter-reset: programm-items-counter 4;
  }

  &__list-item {
    position: relative;

    margin-bottom: 24px;
    padding-left: 46px;

    line-height: 24px;

    counter-increment: programm-items-counter;

    &::before {
      content: "0" counter(programm-items-counter);

      position: absolute;
      left: 0;
      top: 6px;

      font-family: $nice-font;
      font-size: 30px;
      font-weight: normal;
      letter-spacing: 1px;
      color: $bright-color;
    }
  }

  &__call {
    display: block;
    margin-top: 42px;
    margin-bottom: 37px;

    font-family: $nice-font;
    font-size: 54px;
    font-weight: normal;
    letter-spacing: 3px;
    color: $bright-color;
  }
}

@media (min-width: $tablet-width) {
  .programm {
    padding-bottom: 0;

    background: none;

    &__title {
      margin-bottom: 17px;

      &::before {
        color: $dim-color;
      }
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      padding-top: 75px;
      padding-bottom: 32px;

      background-image: url("../img/programm__background--desktop.jpg");
      background-size: 100% 100%;
    }

    &__list {
      width: 47%;
    }

    &__list--left {
      margin-right: 36px;
    }

    &__call {
      margin-right: 55px;

      letter-spacing: 5.5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programm {

    &__title {
      margin-bottom: 33px;
    }

    &__container {
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 128px;
      padding-right: 13%;
      padding-bottom: 75px;
      padding-left: 13%;
    }

    &__list {
      width: 45%;
    }

    &__list--right {
      width: 39%;
    }

    &__call {
      margin-top: 54px;

      font-size: 87px;
    }

    &__button {
      align-self: center;
      margin-right: 25px;
    }
  }
}
