.title {
  position: relative;
  overflow: hidden;

  margin: 18px 0; // margin+padding нужно для корректного
  padding: 30px 0; // отображения тени заголовка

  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: $bright-color;

  &::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    font-family: $nice-font;
    font-size: 100px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: $dim-color;
    white-space: nowrap;

    transform: translate(-50%, -45%);
  }
}

@media (min-width: $tablet-width) {
  .title {
    margin: 20px 0; // margin+padding нужно для корректного
    padding: 42px 0; // отображения тени заголовка

    font-size: 48px;

    &::before {
      font-size: 120px;
      letter-spacing: 7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    margin: 52px 0;  // margin+padding нужно для корректного
    padding: 60px 0; // отображения тени заголовка

    font-size: 68px;
    letter-spacing: 3.5px;

    &::before {
      font-size: 180px;
      letter-spacing: 9px;
    }
  }
}
