@font-face {
  font-family: "Besom";
  src:
    local("Besom by Krisjanis Mezulis / RIT CREATIVE"),
    local("Besom"),
    url("../fonts/Besom.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoreSansE";
  src:
    local("CoreSansE"),
    url("../fonts/CoreSansE-35Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CoreSansE";
  src:
    local("CoreSansE"),
    url("../fonts/CoreSansE-45Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoreSansE";
  src:
    local("CoreSansE"),
    url("../fonts/CoreSansE-65Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CoreSansE";
  src:
    local("CoreSansE"),
    url("../fonts/CoreSansE-95Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  min-width: $mobile-width;
  // Временно:
  width: 765px;
  margin: 0 auto;

  font-family: $standart-font;
  font-size: 16px;
  font-weight: normal;
  color: $main-text-color;
}
