// Media-breakpoints

$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;

// Colors

$main-text-color: #4d4d4d;
$bright-color: #ff0000;
$bright-unsaturate-color: #fce2e2;
$dim-color: #eaebeb;

// Fonts

$nice-font: "Besom", "Georgia", serif;
$standart-font: "CoreSansE", "Arial", sans-serif;
